// .sweets-wrapperまでは、sweets-index.scssに記載

.sweets-detail {
  width: 700px;
  padding: 24px 40px;
  margin: 140px auto 10px;
  overflow: scroll;
  background-color: #EABCAC;
  border-radius: 5px;
  position: relative;
  z-index: 0;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);

  &__upper-content {
    position: relative;
    .sweets__title {
      color: #590c11;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      line-height: 1.0;
      padding: 10px;
      background-color: #f3a3a8;
      background-image: radial-gradient(#f5b2b6 20%, transparent 0), radial-gradient(#f5b2b6 20%, transparent 0); /* 水玉の色 */
      background-position: 0 0, 10px 10px;
      background-size: 20px 20px;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    }
    .sweets__photo {
      display: block;
      width: 400px;
      height: 300px;
      margin: 20px auto;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.32);
    }

    .sweets__like-btn {
      position: absolute;
      top: 325px;
      left: 525px;
      width: 80px;
      height: 40px;
      font-size: 14px;
      text-align: center;
      line-height: 20px;
      .red-iine-btn {
        display: block;
        background-color: white;
        color: red;
        text-decoration: none;
        border: 1px solid red;
        border-radius: 30px;
      }
      .white-iine-btn {
        display: block;
        background-color: lightgray;
        color: #565656;
        text-decoration: none;
        border-radius: 30px;
      }
    }
  }
  &__lower-content {
    &__left {
      table.sweets__table {
        width: 100%;
        tbody {
          font-size: 14px;
          tr {
            border-bottom: solid 2px #EABCAC;
            &:last-child{
              border-bottom: none;
            }
            th {
              position: relative;
              width: 20%;
              background-color: #f3a3a8;
              color: white;
              text-align: center;
              padding: 10px 0;
              &:after{
                display: block;
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                top:calc(50% - 10px);
                right:-10px;
                border-left: 10px solid #f3a3a8;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
              }
            }
            td {
              width: 30%;
              text-align: center;
              background-color: #eee;
              color: #590c11;
              padding: 10px 8px;
              .td__link {
                color: #0199E8;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    &__right {
      .sweets__review {
        font-size: 30px;
        font-family: 'Vibes', cursive;
        text-align: center;
        color: #590c11;
        margin: 5px 0 8px;
        &__comment {
          width: 620px;
          white-space: pre-wrap;
          padding: 0.2em 0.5em;
          margin: 20px auto;
          color: #565656;
          background-color: #ffeaea;
          box-shadow: 0px 0px 0px 10px #ffeaea;
          border: dashed 2px #ffc3c3;
          border-radius: 8px;
        }
      }
    }
  }
}

.sweets-detail:before{
  border: 1px solid #fff; /* 白い実線 */
  border-radius: 5px;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 4px;
  z-index: -1;
}

// ここからコメント機能
.sweets-comments {
  width: 700px;
  padding: 24px 40px;
  margin: 10px auto 40px;
  overflow: scroll;
  background-color: #EABCAC;
  border-radius: 5px;
  position: relative;
  z-index: 0;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  &__upper-content {
    .comment-form {
      width: 100%;
      &__text {
        width: 100%;
        height: 150px;
      }
    }
    .comment-action {
      margin: 15px 0 30px;
      .comment-btn {
        display: block;
        width: 98%;
        height: 34px;
        margin: 0 auto;
        text-decoration: none;
        color: cornsilk;
        background-color: #874E4C;
        box-shadow: 0px 0px 0px 5px #874E4C;
        border: dashed 1px cornsilk;
        cursor: pointer;
        transition: all  0.5s ease;
        &:hover {
          background-color: rgb(240, 156, 128);
          box-shadow: 0px 0px 0px 5px rgb(240, 156, 128);
        }
      }
    }
  }
  &__lower-content {
    .comment-box {
      margin-top: 10px;
      display: flex;
      &__left {
        width: 60px;
        .user-avater {
          width: 60px;
          height: 60px;
          margin: 5px auto 0;
          &__photo {
            width: 55px;
            height: 55px;
            background-color: #f3a3a8;
            border-radius: 50%;
          }
        }
      }
      &__right {
        width: 560px;
        margin: 0 5px;
        .user-comment {
          &__upper {
            display: flex;
            justify-content: space-between;
            .user-name {
              font-size: 16px;
              &__link {
                color: #0199E8;
                text-decoration: none;
              }
            }
            .user-comment__daytime {
              color: #590c11;
              font-family: 'Vibes', cursive;
            }
          }
          &__text {
            color: #590c11;
            padding: 5px 10px;
            background-color: cornsilk;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

.sweets-comments:before{
  border: 1px solid #fff; /* 白い実線 */
  border-radius: 5px;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 4px;
  z-index: -1;
}