.header
  .header-wrapper
    .header-contents-left
      .header-contents-left__title
        = link_to "#", class:"header-title" do
          SweetsCollection
    .header-contents-right
      - if user_signed_in?
        .header-contents-right__mypage
          = link_to user_path(current_user), class: "mypage__button" do
            マイページ
      - else
        .header-contents-right__sign-up
          = link_to new_user_registration_path, class:"sign-up__button" do
            新規会員登録
        .header-contents-right__log-in
          = link_to new_user_session_path, class: "log-in__button" do
            ログイン