@import "reset";
@import "font-awesome";
@import "modules/header";
@import "modules/side-bar";
@import "modules/sign-up";
@import "modules/sweets-index";
@import "modules/sweets-new";
@import "modules/sweets-show";
@import "modules/users-show";
@import "modules/modal";

.back-image {
  background-image: url("https://ja.tokkoro.com/picsup/3089883-cake_chocolate_chocolate-cake_cocoa_delicious_dessert_food_sweets_table_tasty_tiramisu.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  overflow: scroll;
}